version: '3.8'
services:
  actip:
    image: linuxshots/godaddy-ddns:latest
    container_name: actip.${DOMINIO}
    restart: unless-stopped
    environment:
      - GD_NAME=actip
      - GD_DOMAIN=${DOMINIO}
      - GD_TTL=1200
      - GD_KEY=${GD_KEY}
      - GD_SECRET=${GD_SECRET}
