services:
  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    restart: unless-stopped
    expose:
      - "80"
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.excalidraw.rule=Host(`excalidraw.${DOMINIO}`)"
      - "traefik.http.routers.excalidraw.entrypoints=websecure"
      - "traefik.http.routers.excalidraw.tls.certresolver=myresolver"
      - "traefik.http.services.excalidraw.loadbalancer.server.port=80"
      - "traefik.http.middlewares.excalidraw-auth.basicauth.users=${AUTH}"
      - "traefik.http.routers.excalidraw.middlewares=excalidraw-auth@docker"