services:
  mc:
    image: itzg/minecraft-server
    container_name: mc
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MEMORY: 1G
      ENABLE_AUTOPAUSE: true
      DIFFICULTY: hard
      MAX_TICK_TIME: -1
      EXISTING_WHITELIST_FILE: SYNCHRONIZE
      EXISTING_OPS_FILE: SYNCHRONIZE
      WHITELIST: |
        enriqueav99
      OPS: |
        enriqueav99
    volumes:
      - ${DATA_DIRECTORY}/minecraft:/data
