services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    networks:
      - monitor_net
    command: -config.file=/etc/loki/local-config.yaml
    user: root
    # volumes:
    #   - ./loki-config.yaml:/etc/loki/local-config.yaml

#  promtail:
 #   image: grafana/promtail:latest
  #  container_name: promtail
   # volumes:
#      - ./promtail-config.yaml:/etc/promtail/config.yml
#      - /var/snap/docker/common/var-lib-docker/containers:/var/lib/docker/containers:ro
 #     - /var/run/docker.sock:/var/run/docker.sock
  #  networks:
   #   - traefik_proxy
    #  - monitor_net
   # depends_on:
    #  - loki

  prometheus:
    image: prom/prometheus
    user: root
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    networks:
      - monitor_net
      - traefik_proxy
    restart: unless-stopped
    volumes:
      - ${DATA_DIRECTORY}/prom-gra/prometheus:/etc/prometheus
      - ${DATA_DIRECTORY}/prom-gra/prom_data:/prometheus
    labels:
      - logging="promtail"
      - loggin_jobname="containerlogs"

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - monitor_net
    restart: unless-stopped

  alertmanager:
    image: prom/alertmanager:v0.23.0
    container_name: alertmanager
    restart: unless-stopped
    volumes:
      - ${DATA_DIRECTORY}/alertmanager-config:/config
      - ${DATA_DIRECTORY}/alertmanager:/data
    command: --config.file=/config/alertmanager.yml --log.level=debug
    networks:
      - monitor_net
      - traefik_proxy
    depends_on:
      - prometheus
    labels:
      - logging="promtail"
      - loggin_jobname="containerlogs"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    user: root
    networks:
      - traefik_proxy
      - monitor_net
    depends_on:
      - prometheus
    environment:
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SERVER_DOMAIN="grafana.${DOMINIO}"
      - GF_SERVER_ROOT_URL=https://grafana.${DOMINIO}
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
      - GF_AUTH_GENERIC_OAUTH_ENABLED= "true"
      - GF_AUTH_GENERIC_OAUTH_NAME= "authentik"
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID= ${AUTHENTIK_ID}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET= ${AUTHENTIK_SECRET}
      - GF_AUTH_GENERIC_OAUTH_SCOPES= "openid profile email"
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL= "https://auth.${DOMINIO}/application/o/authorize/"
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL= "https://auth.${DOMINIO}/application/o/token/"
      - GF_AUTH_GENERIC_OAUTH_API_URL= "https://auth.${DOMINIO}/application/o/userinfo/"
      - GF_AUTH_SIGNOUT_REDIRECT_URL= "https://auth.${DOMINIO}/application/o/grafana/end-session/"
        # Optionally enable auto-login (bypasses Grafana login screen)
        #GF_AUTH_OAUTH_AUTO_LOGIN: "true"
    # Optionally map user groups to Grafana roles
      - GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH= "contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ${DATA_DIRECTORY}/prom-gra/grafana/grafana:/etc/grafana
      - ${DATA_DIRECTORY}/prom-gra/grafana/config/dashboards:/etc/grafana/provisioning/datasources
      - ${DATA_DIRECTORY}/prom-gra/grafana/config/datasources:/etc/grafana/datasources
      - ${DATA_DIRECTORY}/prom-gra/grafana/config/plugins:/var/lib/grafana/plugins
      - ${DATA_DIRECTORY}/prom-gra/grafana/grafana_data:/var/lib/grafana
    labels:
      - traefik.enable=true
      - traefik.http.routers.monitoreo.rule=Host(`grafana.${DOMINIO}`)
      - traefik.http.services.monitoreo.loadbalancer.server.port=3000
      - traefik.http.routers.monitoreo.tls=true
      - traefik.http.routers.monitoreo.entrypoints=websecure
      - traefik.http.routers.monitoreo.tls.certresolver=myresolver
      - traefik.http.routers.monitoreo.middlewares=authentik@docker
      - logging="promtail"
      - loggin_jobname="containerlogs"
networks:
  monitor_net:
    driver: bridge
